<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>

    <!-- TODO #3 - Use the same list display from search.html -->
    <table th:fragment="results" class="job-listing" th:each="job : ${jobs}">
        <tr th:each="item : ${job}">
            <td th:text="${#strings.capitalizeWords(item.key)}"></td>
            <td th:text="${item.value}"></td>
        </tr>
    </table>

</div>

</body>
</html>